# Deployment requirements

mlflow==2.22.0
numpy==1.26.4 # Must be above 1.24.4 for distutils
pandas==2.3.1
pydantic==2.11.7

# ML requirements (required to make predictions)
prophet==1.1.7
keras==3.10.0
xgboost==3.0.2
tensorflow==2.19.0

# API Server
fastapi==0.116.1
starlette==0.47.2
uvicorn==0.35.0
